body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    --UIUCorange: #E84A27;
    --UIUCblue: #13294B;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: var(--UIUCblue);
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.logo {
    color: var(--UIUCorange);
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    cursor: default;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-family: 'Lato', sans-serif;
    height: 50px;
    line-height: 50px;
    padding: 20px;
    color: white;
    text-decoration: none;
}

#home {
    background-color: var(--UIUCorange);
}

header nav ul li:hover {
    background-color: #E84A27;
}

.menu-toggle {
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


@media (max-width: 650px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: gray;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
}